:root {
    --color-black: #19181b;
    --color-white: #ffffff;
    --color-primary: #00919e;
    --color-dark-primary: #125a61;
    --color-darker-primary: #134146;
    --color-yellow: #dfc25b;
    --color-orange: #bd742f;
    --color-red: #a2251a;
    --color-purple: #6035bb;
    --color-green: #12792c;
    --color-teal: #006561;
    --color-blue: #3b4bb3;
    --color-gold: #b48c50;
    --color-silver: #746e6a;
    --color-bronze: #67452b;
    --color-gray: #38312b;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gold);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-bronze);
}

html {
    margin: 0;
    background: var(--color-black);
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
    width: 100%;
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
    margin: 2em 0;
}

h2 {
    font-size: 3rem;
    margin: 0;
    /* margin-bottom: 0.5rem; */
    margin-top: 2.5rem;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    flex: 1;
}

h4 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.3rem;
    margin: 1.5rem 0;
    /* margin-top: 0; */
}

a {
    color: var(--color-white);
}

a:hover {
    color: #ccc;
}

a:active {
    color: #aaa;
}

li + li {
    margin-top: 1rem;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.button {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    font-family: inherit;
    color: var(--color-white);
    min-width: 15rem;
    border-radius: 10px;
    font-weight: 500;
    box-sizing: content-box;
    text-align: center;
    text-decoration: none;
    /* background: blue; */
}

header {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 2.5rem;
    box-sizing: border-box;
}

header.is-blurred {
    /* -webkit-backdrop-filter: blur(6px) brightness(40%);
    backdrop-filter: blur(6px) brightness(40%); */
    background: linear-gradient(to bottom, #000d 55%, #0000);
}

#header-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 60px;
    position: relative;
    /* left: -20rem; */
    left: 0;
    transition: transform 1s;
    transform: translateX(-200%);
}

#header-logo.is-shown {
    /* left: 0; */
    transform: translateX(0);
}

#header-logo img,
#header-logo svg {
    height: 60px;
    display: inline-block;
    position: relative;
}

#header-logo h5 {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#header-menu {
    display: flex;
    align-items: center;
}

#header-menu > * {
    margin-right: 2rem;
    position: relative;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    /* padding: 0.5rem 0.2rem; */
    font-size: 1.2rem;
    font-family: inherit;
    color: var(--color-white);
    border-radius: 10px;
    font-weight: 500;
    box-sizing: border-box;
}

#header-menu > *::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2.5px;
    width: 0%;
    /* background: var(--color-gold); */
    background: var(--color-purple);
    /* animation: 0.2s ease-in-out 0s 1 normal forwards running reverse-underline,
        3s appear-underline; */
}

@media only screen and (max-width: 768px) {
    #header-menu > *::before {
        height: 4.5px;
        bottom: -2px;
    }
}

/* @keyframes appear-underline {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes reverse-underline {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
} */

#header-menu > *:last-child::before {
    content: none;
}

/* #header-menu > *.is-active {
    text-decoration: underline;
    text-decoration-color: var(--color-gold);
    text-decoration-thickness: 2.5px;
} */

#header-menu > *.is-active::before {
    animation: 0.2s ease-in-out 0s 1 normal both running draw-underline;
}

/* #header-menu > *:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-gold);
    text-decoration-thickness: 2px;
} */

#header-menu > *:hover::before {
    /* width: 100%; */
    animation: 0.2s ease-in-out 0s 1 normal both running draw-underline;
}

/* #header-menu > *:active {
    text-decoration: underline;
    text-decoration-color: var(--color-gold);
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
} */

#header-menu > *::after {
    position: absolute;
    right: -1rem;
    content: '•';
    transform: translateX(50%);
}

#header-menu > *:last-child {
    margin-right: 0;
}

#header-menu > *:last-child::after {
    content: none;
}

#header-signup {
    background: var(--color-primary);
    padding: 0.5rem 1rem;
    transition: background 0.1s;
}

#header-signup:hover {
    text-decoration: none;
    background: var(--color-dark-primary);
}

/* #header-signup:active {
    text-decoration: none;
    background: var(--color-darker-primary);
} */

#header-menu-close,
#header-menu-open {
    display: none;
}

#header-menu-backdrop {
    display: none;
}

@media only screen and (max-width: 768px) {
    #header-menu-open {
        display: block;
    }

    #header-menu {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        background: #000000ef;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;
        padding: 6rem 2rem;
        align-items: flex-start;
        transition: right 0.5s, box-shadow 0.5s;
        z-index: 6;
    }

    #header-menu-backdrop {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;

        margin: 0;
        padding: 0;

        left: 100%;
        right: -100%;

        background: transparent;
        z-index: 5;
        transition: background 0.5s;
    }

    #header-menu.is-open {
        right: 0;
        /* box-shadow: -20vw 0 0 100vw #0008; */
    }

    #header-menu.is-open + #header-menu-backdrop {
        left: 0;
        right: 0;
        background: #0008;
    }

    #header-menu > * {
        margin: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    #header-menu > *::after {
        content: none;
    }

    #header-signup {
        padding: 0.5rem 2rem;
    }

    #header-menu-close,
    #header-menu-open {
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        display: flex;
    }

    #header-menu-close {
        display: flex;
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
        justify-content: center;
        align-items: center;
    }

    #header-menu-close::before {
        content: none;
    }
}

#hero {
    background: url(../images/space.webp);
    /* object-fit: contain; */
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    align-items: stretch;
}

#hero-logo {
    display: none;
}

/* old rocket image */
/* #hero-left {
    flex: 4;
    position: absolute;
    max-width: 40%;
    left: 0;
    top: 3rem;
    bottom: 7rem;
    min-width: 400px;
    padding-left: 2rem;
} */

#hero-left {
    flex: 4;
    position: absolute;
    max-width: 40%;
    left: 0;
    top: 0;
    bottom: 0rem;
    min-width: 400px;
    /* padding-left: 2rem; */
    /* justify-self: flex-start; */
    /* height: 100%; */
}

#hero-rockets {
    object-fit: cover;
    height: 100%;
    /* width: 100%; */
    /* max-width: 100vw; */
}

.rocket-people {
    /* -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 0px 30px #a194ea33); */
}

#joanne {
    animation: 0.6s joanne-appear ease-in 0.6s both;
}

@keyframes joanne-appear {
    0% {
        x: 510;
        y: 770;

        height: 10px;
    }

    40% {
        x: 500;
        y: 400;
    }

    100% {
        x: 50;
        y: 70;

        height: 500px;
    }
}

#tim {
    animation: 0.5s tim-appear ease-in 0.7s both;
}

@keyframes tim-appear {
    0% {
        x: 510;
        y: 770;

        height: 10px;
    }

    40% {
        x: 640;
        y: 440;
    }

    100% {
        x: 420;
        y: 50;

        height: 600px;
    }
}

#alex {
    animation: 0.4s alex-appear ease-in 0.8s both;
}

@keyframes alex-appear {
    0% {
        x: 510;
        y: 770;

        height: 10px;
    }

    40% {
        x: 780;
        y: 540;
    }

    100% {
        x: 900;
        y: 400;

        height: 600px;
    }
}

#alana {
    animation: 0.4s alana-appear ease-in 0.9s both;
}

@keyframes alana-appear {
    0% {
        x: 510;
        y: 770;

        height: 10px;
    }

    35% {
        x: 780;
        y: 640;
    }

    100% {
        x: 800;
        y: 800;

        height: 600px;
    }
}

.rocket-can {
    animation: 0.5s shake ease-in-out both 0.5s;
    transform-origin: 50% 50%;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-8deg);
    }

    /* 40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    } */

    60% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rocket-flame {
    animation: 1.8s pulse ease-in-out both infinite alternate;
    transform-origin: 70% 10%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.005);
    }

    66% {
        transform: scale(0.99);
    }

    100% {
        transform: scale(1);
    }
}

.logo-explosion {
    animation: 4s pulse-large ease-in-out both infinite alternate;
    transform-origin: 50% 50%;
}

@keyframes pulse-large {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.03);
    }

    66% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(1);
    }
}

#hero-right {
    width: 55%;
    min-width: 600px;
    /* -webkit-backdrop-filter: blur(2px) brightness(80%); */
    /* backdrop-filter: blur(2px) brightness(40%); */
    /* mask: linear-gradient(transparent, black 60%); */
    background: linear-gradient(to right, #0000, #000000a8 20%);
    padding: 5rem 0;
    padding-left: 6rem;
    padding-right: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

#hero-right-container {
    /* display: inline; */
    width: max-content;
    /* margin-left: auto; */
    margin: 0 auto;
}

.hero-column {
    box-sizing: border-box;
}

#hero h1,
#hero h3 {
    margin: 0;
    display: inline;
}

#hero h1 {
    font-size: 4.5rem;
    /* font-weight: 400; */
}

#hero h3 {
    font-size: 2.5rem;
    font-weight: 400;
}

#year-vert {
    width: 2ch;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-left: 0.5rem;
}

#hero-tagline {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
}

#hero-description {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 0.5rem;
}

#fadeout {
    width: 100%;
    height: 8rem;
    position: absolute;
    bottom: 0;
    z-index: 4;
    background: linear-gradient(to bottom, #0000, var(--color-black));
    pointer-events: none;
}

#hero .line {
    text-align: right;

    width: min-content;
    min-width: 100%;
}

@media only screen and (max-width: 900px) {
    #hero-right {
        min-width: unset;
        width: 100%;
        background: #000000b8;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        /* display: block; */
        height: unset;
    }

    #hero-logo {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
        max-width: 20rem;
    }

    /* #hero-logo img {
        width: 80%;
        max-width: 20rem;
        margin-bottom: 2rem;
    } */

    #hero-left {
        display: none;
    }

    #hero-rockets {
        width: 100%;
    }

    #hero-right {
        padding: 5rem 3rem;
        padding-bottom: 12rem;
        background: #000000a8;
        min-width: unset;
        width: 100%;
        /* padding-left: 20%; */
    }

    #hero .line {
        text-align: center;
    }

    #hero #hero-line-2 h3 {
        text-align: right;
    }

    /* #hero h1 {
        font-size: 6rem;
    }

    #hero h3 {
        font-size: 2.5rem;
        margin-left: 0.5rem;
    } */

    #fadeout {
        height: 10rem;
    }
}

@media only screen and (max-width: 500px) {
    #hero h1 {
        font-size: 4.2rem;
    }

    #hero h3 {
        font-size: 2.4rem;
    }
}

#hero-line-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#hero-line-4 {
    margin-top: 1.5rem;
    /* width: 100%; */
    /* background: red; */
}

#hero-line-5 {
    margin-top: 1rem;
}

#hero-signup {
    background: var(--color-primary);
    transition: background 0.1s;
}

#hero-signup:hover {
    background: var(--color-dark-primary);
}

/* #hero-signup:active {
    background: var(--color-darker-primary);
} */

#anti {
    /* text-decoration: underline;
    text-decoration-color: var(--color-gold);
    text-decoration-thickness: 2.5px; */
    position: relative;
}

#anti::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3.5px;
    width: 100%;
    animation: 1s ease-in-out 1.5s 1 normal both running draw-underline;
    background: var(--color-purple);
}

@keyframes draw-underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#content {
    margin: auto;
    padding: 2rem 3rem;
    padding-top: 0;
    max-width: 45rem;
}

#reasons {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 1rem;
    justify-content: stretch;
    width: 100%;
}

.reason {
    margin: 0;
    padding: 1.5rem;
    border-radius: 15px;
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.reason p {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.reason-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.reason-icon-container {
    flex: 1;
}

.reason-icons img {
    max-height: 80px;
    width: 100%;
    object-fit: contain;
}

#reason-1 {
    background: var(--color-red);
    /* color: black; */
}

#reason-2 {
    background: var(--color-orange);
    color: black;
}

#reason-3 {
    background: var(--color-yellow);
    color: black;
}

#reasons div::marker {
    content: none;
}

@media only screen and (max-width: 900px) {
    #reasons {
        flex-direction: column;
    }

    .reason {
        flex-direction: row-reverse;
        gap: 2rem;
        justify-content: flex-end;
    }

    .reason-icons {
        flex-direction: column;
        width: unset;
        /* height: 100%; */
        align-items: center;
    }

    .reason-icons img {
        width: 50px;
        max-height: unset;
        height: 100%;
        object-fit: contain;
    }
}

/* #info img {
    width: 230px;
    float: right;
    margin: 2rem;
    display: none;
} */

/* @media only screen and (max-width: 650px) {
    #info img {
        display: none;
    }
} */

#mission-img {
    width: 230px;
    float: right;
    margin: 2rem;
}

@media only screen and (max-width: 650px) {
    #mission-img {
        float: none;
        width: 200px;
        display: block;
        margin: 2rem auto;
    }
}

#tracks-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: auto; */
    grid-gap: 1rem;
    margin-top: 1rem;
}

.tracks-cell {
    /* padding: 1.5rem; */
    border-radius: 10px;
}

.tracks-header {
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    position: relative;
}

.tracks-content {
    padding: 1.5rem;
    padding-top: 0;
}

.tracks-content p {
    font-size: 1.2rem;
    /* margin: 1rem 0; */
}

.tracks-content *:first-child {
    margin-top: 0;
}

.tracks-content *:last-child {
    margin-bottom: 0;
}

.tracks-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
}

#track-1 {
    grid-column: 1;
    /* grid-row: 1; */
    background: var(--color-purple);
}

#track-2 {
    grid-column: 2;
    /* grid-row: 1; */
    background: var(--color-green);
}

#track-3 {
    grid-column: 3;
    /* grid-row: 2; */
    background: var(--color-blue);
}

#track-4 {
    grid-column: 1 / span 3;
    /* grid-row: 2; */
    background: var(--color-teal);
}

@media only screen and (max-width: 900px) {
    #tracks-grid {
        display: block;
    }

    .tracks-cell + .tracks-cell {
        margin-top: 1.5rem;
    }
}

.sponsors-container {
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}

.sponsors-container h4 {
    text-align: center;
}

.sponsors-container p {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.sponsors-list {
    text-align: center;
}

.sponsors-list img {
    height: 9rem;
    margin: 0.5rem 0;
    display: inline-block;

    transition: height 0.2s, margin 0.2s;
}

.sponsors-list img:hover {
    margin: 0;
    height: 10rem;
}

#gold-sponsors {
    background: var(--color-gold);
    color: var(--color-black);
}

#silver-sponsors {
    background: var(--color-silver);
}

#bronze-sponsors {
    background: var(--color-bronze);
}

#sponsor-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

#sponsor-promo {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 'Epilogue', sans-serif;
}

#sponsor-lets-talk {
    background: var(--color-primary);
    margin-top: 0.5rem;
}

#sponsor-lets-talk:hover {
    text-decoration: none;
    background: var(--color-dark-primary);
}

#faq-grid {
    display: block;
    margin-top: 1rem;
}

.faq-cell {
    /* padding: 1.5rem; */
    border-radius: 10px;
}

.faq-cell + .faq-cell {
    margin-top: 1rem;
}

.faq-cell.is-open {
    margin-bottom: 1rem;
}

.faq-header {
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    position: relative;
}

.faq-content {
    padding: 1.5rem;
    padding-top: 0;
}

.faq-content p {
    font-size: 1.2rem;
}

.faq-collapse {
    display: none;
}

.faq-collapse {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: calc(50% + 0px);
    transform: translateY(-50%);

    transition: transform 0.3s;
}

.faq-header {
    cursor: pointer;
    padding-right: 4rem;
    padding-bottom: 1.5rem;
}

.faq-cell.is-open .faq-collapse {
    transform: translateY(-50%) rotate(180deg);
}

.faq-content {
    display: none;
}

.faq-cell.is-open > .faq-content {
    display: block;
}

.faq-content *:first-child {
    margin-top: 0;
}

.faq-content *:last-child {
    margin-bottom: 0;
}

#faq-content-bubble {
    display: none;
}

@media only screen and (min-width: 769px) {
    #faq-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        position: relative;

        margin-bottom: 5rem;
    }

    .faq-cell {
        transition: filter 0.1s;
        margin: 0 !important;
    }

    #faq-grid.has-opened .faq-cell {
        filter: brightness(50%);
    }

    #faq-grid .faq-cell.is-open {
        filter: none;
        border-radius: 10px 10px 0px 0px;
    }

    #faq-content-bubble {
        display: block;

        padding: 0 1.5rem;
        left: 0;
        right: 0;
        border-radius: 10px;
        min-height: 4rem;
        box-sizing: border-box;
        transition: max-height 1s, min-height 1s;
        overflow: hidden;
    }

    #faq-content-bubble p {
        font-size: 1.2rem;
    }

    .faq-content {
        display: none !important;
    }
}

#faq-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background: var(--color-purple);
}

#faq-2 {
    grid-column: 3 / span 3;
    grid-row: 1;
    background: var(--color-green);
}

#faq-3 {
    grid-column: 1 / span 3;
    grid-row: 2;
    background: var(--color-teal);
}

#faq-4 {
    grid-column: 4 / span 2;
    grid-row: 2;
    background: var(--color-blue);
}

#faq-5 {
    grid-column: 1 / span 5;
    grid-row: 3;
    background: var(--color-red);
}

#faq-6 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    background: var(--color-orange);
    color: black;
}

#faq-7 {
    grid-column: 3 / span 3;
    grid-row: 4;
    background: var(--color-yellow);
    color: black;
}

#faq-8 {
    grid-column: 3 / span 3;
    grid-row: 5;
    background: var(--color-purple);
}

#faq-9 {
    grid-column: 1 / span 5;
    grid-row: 6;
    background: var(--color-teal);
}

#team-headshots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    #team-headshots {
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }
}

.team-member {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.team-member-headshot {
    aspect-ratio: 1;
    width: 100%;
    /* height: 20rem; */
    border-radius: 100rem;
    background: var(--color-gray);
}

.team-member-name {
    text-align: center;
    font-size: 1.3rem;
}

#faq-10 {
    grid-column: 1 / span 2;
    grid-row: 7;
    background: var(--color-green);
}

#faq-11 {
    grid-column: 3 / span 3;
    grid-row: 7;
    background: var(--color-blue);
}

#final-join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

footer {
    margin-top: 6rem;
    background: var(--color-darker-primary);
    padding: 3rem 3rem;
    padding-top: 0;
    /* border-radius: 20px 20px 0 0; */
    position: relative;
    /* clip-path: circle(200px); */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}

#svgClips {
    position: absolute;
}

#footer-shape {
    background: var(--color-darker-primary);
    clip-path: url(#footerClip);
    position: absolute;
    left: 0;
    right: 0;
    top: -99px;
    height: 100px;
}

#footer-logo {
    width: 200px;
    max-width: 200px;
}

#footer-tagline {
    margin: 0;
}

#footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#footer-right {
    /* flex-grow: 1; */
    padding-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 1.1rem;
    text-align: right;
}

footer p + p {
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    footer {
        padding-top: 1rem;
        flex-direction: column;
    }

    footer p {
        text-align: left;
    }

    #footer-left {
        width: 100%;
    }

    #footer-logo-container {
        flex: 2;
        width: 100%;
    }

    #footer-tagline {
        flex: 3;
    }

    #footer-logo {
        width: 100%;
    }

    #footer-right {
        padding-top: 0;
        width: 100%;
    }
}
